<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>
  </footer>
</div>

<div class="modal" tabindex="-1" data-form-modal>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" data-modal-title></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" data-modal-body></div>
        </div>
      </div>
</div>

<script src="/js/bootstrap-js/bootstrap.min.js"></script>
<script>
  var formModal;

    document.querySelector("[data-form-modal]").addEventListener("hidden.bs.modal", function() {
      document.querySelector("[data-modal-title]").innerText = "";
      document.querySelector("[data-modal-body]").innerHTML = "";
    });

    function openForm(url, type = "create") {
        var title = {
          create: "Tambah Data",
          edit: "Edit Data",
          detail: "Detail Data",
        };

        var modalTitle  = title[type] ? title[type] : "";

        $.ajax({
          url: url,
          type: "GET",
          success: function(response) {
            $("[data-modal-title]").text(modalTitle);
            $("[data-modal-body]").html(response);
            formModal = new bootstrap.Modal(document.querySelector("[data-form-modal]"), {});
            formModal.show();
          },
          error: function(reject) {
            toastAlert("error", "An error occurred on the server");
            console.log(reject)
          }
        })
      }
</script>
</body>

</html>
